{
  "presets": [
    "@babel/env",
    "@babel/typescript",
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "src": "./src"
        }
      }
    ]
  ]
}